@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #377dff;
}

.flex-center-start {
  @apply flex items-center justify-start;
}
.flex-center-between {
  @apply flex items-center justify-between;
}
.flex-center-end {
  @apply flex items-center justify-end;
}
